/*---------- Обнуление ---------- */
*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* ---------- Весь файл ---------- ----------  ---------- */

html, body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper__header-content {
    flex: 1 0 auto;
}

.wrapper__footer {
    flex: 0 0 auto;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

/* -----HEADER-------------------------------------------------------*/

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
}

.topnav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.topnav:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(8 9 34);
    z-index: 2;
}

.topnav__link {
    font-size: 20px;
    color: #F9F0DA;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    z-index: 3;
}

.register {
    border-radius: 40px;
    border: 2px solid #f7e6cac9;
    padding: 5px 10px;
}

.topnav__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.topnav__login_reg {
    display: flex;
    margin-left: 20px;
}

.topnav__logo {
    flex: 0 0 150px;
    position: relative;
    z-index: 3;
}
.topnav__logo img{
    max-width: 100%;
    display: block;
}

.topnav__burger {
    display: none;
}

.topnav__list {
    display: flex;
    position: relative;
    z-index: 3;
}

.topnav__welcome_list {
    display: flex;
    position: relative;
    z-index: 3;
    margin-left: 10px;
}

.topnav__welcome_list li {
    list-style: None;
    margin-left: 20px;
}

.topnav__list li {
    list-style: None;
    margin-left: 20px;
}
.logout_logo {
    margin-top: 3px;
}

.topnav__search {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
}
.topnav__search input[type="text"] {
    width: 450px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 3px solid #F9F0DA;
    background-color: transparent;
    outline: none;
    position: relative;
    transition: .3s linear;
    margin: 0 0 0 20px;
    font-size: 18px;
    color: #F9F0DA;

}
.topnav__search button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    right: 0;
    position: absolute;
    color: #F9F0DA;
}
.topnav__search input[type="text"]::placeholder {
    background-color: transparent !important;
  }



.topnav__user {
    position: relative;
    z-index: 3
}

@media (max-width: 767px){
    body.lock {
        overflow: hidden;
    }

    .topnav__search input[type="text"] {
        display: none;
    }

    .topnav__body {
        height: 60px;
    }
    .topnav__logo {
        flex: 0 0 90px;
    }
    .topnav__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .topnav__burger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .topnav__burger:before,
    .topnav__burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        transition: all 0.3s ease 0s;
    }
    .topnav__burger:before {
        top: 0;
    }

    .topnav__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .topnav__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .topnav__burger.active span {
        transform: scale(0);
    }

    .topnav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(119, 119, 106);
        padding: 70px 0 0 10px;
        overflow: auto;
    }

    .topnav__menu.active {
        top: 0;
        transition: all 0.3s ease 0s;
    }

    .topnav__list {
        display: block;
    }
    .topnav__list li {
        margin: 0 0 20px 0;
    }

    .topnav__welcome_list {
        text-align: center;
        height: 100%;
        font-size: 12px;
    }

    .register {
        border-radius: 40px;
        border: 1px solid #f7e6cac9;
        padding: 3px 6px;
        font-size: 14px;
    }

    .login {
        font-size: 14px;
    }
}



/* ----------  Стили для контента страницы  ----------  ----------*/


.content {
    margin: 0 auto; /* Учитываем высоту футера */
    padding: 140px 20px 40px 20px;
    max-width: 1500px;
    font-size: 18px;
    line-height: 25px;
}
.content p{
    /* margin-top: 30px; */
}

.content input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
}

.content .search-container {
    margin-top: 10px; /* Добавляем отступ сверху */
    display: flex;
    align-items: center;
}

.content .search-container input[type=text] {
    flex: 1;
    margin-right: 10px; /* Добавляем отступ справа */
}

.content .search-container button {
    flex: 0 0 auto;
    padding: 6px 10px;
    margin-top: 8px;
    background: #D2B48C;
    font-size: 17px;
    border: 2px black;
    cursor: pointer;
}

.content .search-container button:hover {
    background: #FFF8DC;
}

@media (max-width: 767px){
    .content {
        padding: 80px 0 0 0;
    }
}

/* ----------  Стили для футера ----------  ---------- */
.footer {
    width: 100%;
    background-color: rgb(8 9 34);
    text-align: center;
    color: #F9F0DA;
}

.footer__container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 2% 2.5%;
}

.footer__content {
    display: flex;
    flex-direction: row;
}
.footer__content__first-col {
    display: flex;
    width: 50%;
}
.footer__content__first-col img {
    width: 20%;
    align-items: start;
    min-width: 90px;

}

.footer__content__second-col {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer__content__second-col-left {
    width: 50%;
}

.footer__content__second-col-left-title {
    font-weight: bold;
    margin-bottom: 3%;
}

.footer__content__second-col-right {
    width: 50%;
}

.footer__content-li {
    list-style: none;
    margin: 2% 0;

}

.footer__content-li a {
    text-decoration: none;
    color: #d0bca8;
}