{% extends 'base.html' %}
{% load static %}

{% block title %}{{ comm.title }}{% endblock %}

{% block content %}
    <div class="detail">  {% comment %} Этот див нужен для list_right-columns.js {% endcomment %}

        <div class="detail__title-wrapper">
            <h1 class="detail__title">{{ comm.title }}</h1>
        </div>
        
        <div class="detail__date">
            <p class="detail__date"> {{ comm.author }} / {{ comm.publish }}</p>
        </div>
        
        <div class="detail__body">
            {{ comm.body|linebreaks }}
        </div>
    

        <div class="detail__lowbody">
            <div class="detail__lowbody__commentaries">
                {% with commentaries.count as total_commentaries %}
                    <h2 class="detail__subtitle ">
                        Всего комментариев: {{ total_commentaries }}
                    </h2>
                {% endwith %}
                
                <div class="comments-container">

                    {% for commentary in commentaries %}
    
                        <div class="detail__lowbody__commentary">
                            <p class="detail__lowbody__commentary-author">
                                {{ forloop.counter }}. {{ commentary.name }} / {{ commentary.created }}
                            </p>
                            <p class="detail__lowbody__commentary-body">
                                {{ commentary.body }}
                            </p> 
                        </div>
    
                        {% empty %}
                            <p>Пока комментариев нет</p>
                    {% endfor %}

                </div>

                {% include "post/includes/commentary_form.html" %}

            </div>
        </div>
    </div>
    
    {% endblock %}
