{% extends 'base.html' %}
{% load comments_tags %}

{% block title %}Статьи{% endblock %}

{% block content %}
    <div class="list__content">

        <div class="content__left-col">

            <div class="content__left-col__list">

                <!-- В левой колонке формируется список статей по заголовку -->
                {% for post in published_posts %}
                    
                    <div class="content__left-col__list-single">
                        
                        <a href="{{ post.get_absolute_url }}"> 
                            <div class="content__left-col__list-single__wrapper">
                                <span>{{ post.title }}</span>

                                <div class="content__left-col__list-single-tag-icon"> 
                                    <i class="fa-solid fa-caret-right content__left-col__list-single__icon"> </i>
                                </div>
                                
                            </div>
                        </a>
                        
                    </div>

                    

                {% endfor %}

            </div>

        </div>

        <div class="content__right-col">
            
            <div class="content__right-col__main">
                <h1 class="content__right-col__main-h1">Выберите необходимую статью</h1>
            </div>

        </div>

    </div>
    
{% endblock %}

{% comment %} 
    <h1>Здесь находятся опубликованные комментарии</h1>
    {% if tag %}
        <h2>Пост имеет теги: "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in published_posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>

<!--        Добавим отображение тегов к посту-->
        <p class="tags">
            Теги:
            {% for tag in post.tags.all %}
                <a href="{% url 'comments:comment_list_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <p class="date">
            {{ post.author }} опубликовал эту запись в {{ post.publish }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
    {% include "pagination.html" with page=published_posts %}
{% endblock %}

{% block sidebar %}
    <h3>Последние опубликованные посты:</h3>
    {% show_latest_posts 3 %}
{% endblock %} 

{% endcomment %}