{% extends 'base.html' %}

{% block title %}Статьи{% endblock %}

{% block content %}
    <div class="list__content">
        <div class="content__left-col">

            <div class="content__left-col__list">
                <!-- В левой колонке формируется список статей по заголовку -->
                {% for post in published_posts %}
                    <div class="content__left-col__list-single">
                        <a href="{{ post.get_absolute_url }}"> 
                            <div class="content__left-col__list-single__wrapper">
                                <span>{{ post.title }}</span>
                                <div class="content__left-col__list-single-tag-icon"> 
                                    <i class="fa-solid fa-caret-right content__left-col__list-single__icon"> </i>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="content__right-col">
            <div class="content__right-col__main">
                <h1 class="content__right-col__main-h1">Выберите необходимую статью</h1>
            </div>
        </div>
    </div>

<!--    {% for post in published_posts %}-->
<!--        <h2>-->
<!--            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>-->
<!--        </h2>-->

<!--        <p class="date">-->
<!--            {{ post.author }} опубликовал эту запись в {{ post.publish }}-->
<!--        </p>-->
<!--        {{ post.body|truncatewords:30|linebreaks }}-->
<!--    {% endfor %}-->

{% endblock %}