{% extends 'base.html' %}

{% block title %}TaskMetrics{% endblock %}

{% block content %}
  <h1>Домашняя страница</h1>
  <p>Здесь будут ссылки на обучение по данному веб-приложению</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquid animi architecto consectetur
    deleniti esse non odit perferendis praesentium quam quod ratione reprehenderit sed soluta ut, vel voluptas! A
    ccusantium assumenda doloribus ea illo, ipsum iusto laboriosam laudantium magni minus necessitatibus non omnis quis
    quisquam quod quos repellat soluta, tempore veniam vero voluptas! Aperiam aspernatur atque blanditiis culpa debitis
    deserunt eius eos id incidunt iusto labore laboriosam numquam optio pariatur provident quo quod, recusandae
    repellendus saepe tempore ut vel voluptas? Alias aspernatur ea quam rem repudiandae temporibus voluptatem!
    Blanditiis culpa deserunt
    dolore dolorum eaque esse fuga molestiae non, obcaecati odit omnis provident quidem quos similique suscipit.
    Ab accusamus ad, aliquid amet atque deserunt esse, et ex excepturi inventore nostrum porro quae rerum sapiente sunt.
    A, ab accusamus accusantium ad aspernatur cupiditate delectus deserunt dolorem et eveniet fugit id illum maxime,
    minima nam neque perspiciatis, placeat quasi sequi velit! A, aut dolor dolores est ex, harum in laboriosam magni
    maiores minus nihil odio quam quibusdam, ratione reprehenderit velit voluptatibus! Alias atque consectetur consequatur
    debitis doloribus error fugiat, fugit harum hic in incidunt itaque labore laudantium maiores necessitatibus officiis
    omnis possimus provident quas quo quod, recusandae saepe soluta tenetur voluptates! Id, iure maxime. Architecto
    cupiditate dicta, doloribus ea eligendi iste laudantium maxime nesciunt vero voluptas! A cupiditate deleniti
    error ex fuga magnam modi molestiae necessitatibus, nostrum numquam pariatur perferendis quibusdam quisquam
    sequi sunt suscipit ut voluptate voluptates? Ad aliquam impedit ipsum maxime odio, pariatur reiciendis sint
    sit. Accusantium adipisci aperiam asperiores aspernatur at aut blanditiis culpa, cum delectus dolore dolorem
    eius eligendi eos eum exercitationem facilis fuga impedit inventore ipsa libero magni maiores molestias natus
    nobis optio perferendis perspiciatis quaerat quia quidem quis rem sed similique suscipit tempora veritatis vero voluptatum!
    Amet asperiores at commodi eaque enim explicabo harum iste, magnam nostrum quam quas, quo quod rem sapiente tempore!
    Aperiam asperiores dolorem eaque eos ex facere, impedit nemo nisi possimus quam quo saepe soluta tenetur!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquid animi architecto consectetur
    deleniti esse non odit perferendis praesentium quam quod ratione reprehenderit sed soluta ut, vel voluptas! A
    ccusantium assumenda doloribus ea illo, ipsum iusto laboriosam laudantium magni minus necessitatibus non omnis quis
    quisquam quod quos repellat soluta, tempore veniam vero voluptas! Aperiam aspernatur atque blanditiis culpa debitis
    deserunt eius eos id incidunt iusto labore laboriosam numquam optio pariatur provident quo quod, recusandae
    repellendus saepe tempore ut vel voluptas? Alias aspernatur ea quam rem repudiandae temporibus voluptatem!
    Blanditiis culpa deserunt
    dolore dolorum eaque esse fuga molestiae non, obcaecati odit omnis provident quidem quos similique suscipit.
    Ab accusamus ad, aliquid amet atque deserunt esse, et ex excepturi inventore nostrum porro quae rerum sapiente sunt.
    A, ab accusamus accusantium ad aspernatur cupiditate delectus deserunt dolorem et eveniet fugit id illum maxime,
    minima nam neque perspiciatis, placeat quasi sequi velit! A, aut dolor dolores est ex, harum in laboriosam magni
    maiores minus nihil odio quam quibusdam, ratione reprehenderit velit voluptatibus! Alias atque consectetur consequatur
    debitis doloribus error fugiat, fugit harum hic in incidunt itaque labore laudantium maiores necessitatibus officiis
    omnis possimus provident quas quo quod, recusandae saepe soluta tenetur voluptates! Id, iure maxime. Architecto
    cupiditate dicta, doloribus ea eligendi iste laudantium maxime nesciunt vero voluptas! A cupiditate deleniti
    error ex fuga magnam modi molestiae necessitatibus, nostrum numquam pariatur perferendis quibusdam quisquam
    sequi sunt suscipit ut voluptate voluptates? Ad aliquam impedit ipsum maxime odio, pariatur reiciendis sint
    sit. Accusantium adipisci aperiam asperiores aspernatur at aut blanditiis culpa, cum delectus dolore dolorem
    eius eligendi eos eum exercitationem facilis fuga impedit inventore ipsa libero magni maiores molestias natus
    nobis optio perferendis perspiciatis quaerat quia quidem quis rem sed similique suscipit tempora veritatis vero voluptatum!
    Amet asperiores at commodi eaque enim explicabo harum iste, magnam nostrum quam quas, quo quod rem sapiente tempore!
    Aperiam asperiores dolorem eaque eos ex facere, impedit nemo nisi possimus quam quo saepe soluta tenetur!
  </p>
    {% endblock %}