{% extends 'base.html' %}

{% block title %}TaskMetrics{% endblock %}

{% block content %}
  <h1>Добро пожаловать в TaskMetrics</h1>
  <p>
    Мы стремимся предоставить вам уникальный опыт обучения и развития.
  </p>
  <p>
    Наш проект предлагает разнообразные курсы по различным темам, начиная от технологий и заканчивая творчеством.<br>
    У нас есть опытные преподаватели и интересные задания, чтобы сделать ваш образовательный путь увлекательным и полезным.
  </p>
  <p>
    Присоединяйтесь к нам и начните свое путешествие по новым знаниям и возможностям!
  </p>
  <p>
    Если у вас возникают вопросы, вы можете перейти в раздел <a href="{% url 'faq:faq_list' %}">FAQ (часто задаваемые вопросы)</a>
  </p>
    {% endblock %}