{% extends 'base.html' %}

{% block title %}Поделиться постом{% endblock %}

{% block content %}
  {% if sent %}
    <h1>Письмо на электронную почту успешно отправлено</h1>
    <p>
      "{{ post.title }}" был успешно отправлен получателю: {{ form.cleaned_data.to }}.
    </p>
  {% else %}
    <h1>Поделиться "{{ post.title }}" через электронную почту</h1>
    <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Отправить письмо">
    </form>
  {% endif %}
{% endblock %}