{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <h1>Авторизация</h1>
    {% if form.errors %}
        <p>
            Введенная пара логина и пароля не была найдена.
            Пожалуйста, повторите попытку.
        </p>
    {% else %}
        <p>
            Пожалуйста, заполните следующую форму для входа:
            Если у вас нет аккаунта, вы можете его <a href="{% url 'register' %}">создать здесь</a>.
        </p>
    {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Войти"></p>
        </form>
        <p>
            <a href="{% url 'password_reset' %}">
                Забыли пароль?
            </a>
        </p>

{% endblock %}